

<!-- Main Wrapper Start -->
<div id="main-wrapper" class="section">
    
    
       
    <!-- Page Banner Section Start-->
    <div class="page-banner-section section" style="background-image: url(./assets/img/bg/page-banner.jpg)">
        <div class="container">
            <div class="row">
                
                <!-- Page Title Start -->
                <div class="page-title text-center col">
                    <h1>Product details</h1>
                </div><!-- Page Title End -->
                
            </div>
        </div>
    </div><!-- Page Banner Section End-->
    
       
    <!-- Product Section Start-->
    <div class="product-section section pt-110 pb-90">
        <div class="container">
            
            <!-- Product Wrapper Start-->
            <div class="row">
                
                <!-- Product Image & Thumbnail Start -->
                <div class="col-lg-7 col-12 mb-30">
                   
                    <!-- Product Thumbnail -->
                    <div class="single-product-thumbnail product-thumbnail-slider float-left">
                    </div>
                    <!-- Product Image -->
                    <div class="single-product-image product-image-slider fix">
                        <div class="single-image"><img   [src]="ds.baseurl + '/ProductImage/' + singleProduct.image"
                            alt="Product" style="height: 400px;"></div>
                    </div>
                    
                </div><!-- Product Image & Thumbnail End -->
                
                <!-- Product Content Start -->
                <div class="single-product-content col-lg-5 col-12 mb-30">
                   
                    <!-- Title -->
                    <h1 class="title">{{singleProduct.name}}</h1>
                    
                    <!-- Product Rating -->
                    <span class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    
                    <!-- Price -->
                    <span class="product-price">₹{{singleProduct.price}}</span>
                    
                    <!-- Description -->
                    <div class="description">
                        <div class="product-post" [innerHtml]="singleProduct.description"></div>
                    </div>

                    
                    <!-- Quantity & Cart Button -->
                    <div class="product-quantity-cart fix">
                        <div class="product-quantity">
                            <span class="inc qtybtn" (click)="AddtoCart('minus')"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <input type="text"  name="qtybox"  [(ngModel)]="quantityValue" >
                            <span class="dec qtybtn" (click)="AddtoCart('add')"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <button class="add-to-cart" (click)="addCartProduct(singleProduct.id)">Add to cart</button> 
                    </div>
                </div><!-- Product Content End -->
                
            </div><!-- Product Wrapper End-->
            
            <!-- Product Additional Info Start-->
            <div class="row">
               
                <!-- Nav tabs -->
                <div class="col-12 mt-30">
                    <ul class="pro-info-tab-list nav">
                        <!-- <li><a class="active" data-toggle="tab" href="#more-info">More info</a></li> -->
                        <!-- <li><a data-toggle="tab" href="#data-sheet">Data sheet</a></li> -->
                        <!-- <li><a data-toggle="tab" href="#reviews">Reviews</a></li> -->
                    </ul>
                </div>

                <!-- Tab panes -->
                <div class="tab-content col-12">
                   
                    <div class="pro-info-tab tab-pane active" id="more-info">
                        <div class="product-post" [innerHtml]="singleProduct.description"></div>
                    </div>
                    
                    <div class="pro-info-tab tab-pane" id="data-sheet">
                        <table class="table table-bordered">
                            <tbody>
                                <tr class="odd">
                                    <td>Compositions</td>
                                    <td>Cotton</td>
                                </tr>
                                <tr class="even">
                                    <td>Styles</td>
                                    <td>Casual</td>
                                </tr>
                                <tr class="odd">
                                    <td>Properties</td>
                                    <td>Short Sleeve</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="pro-info-tab tab-pane" id="reviews">
                        <a class="button" href="#">Be the first to write your review!</a>
                    </div>
                    
                </div>
                
            </div><!-- Product Additional Info End-->
            
        </div>
    </div><!-- Product Section End-->


    

</div><!-- Main Wrapper End -->

