
<!-- Main Wrapper Start -->
<div id="main-wrapper" class="section">
    
    
    
    <!-- Page Banner Section Start-->
    <div class="page-banner-section section" style="background-image: url(./assets/img/bg/page-banner.jpg)">
        <div class="container">
            <div class="row">
                
                <!-- Page Title Start -->
                <div class="page-title text-center col">
                    <h1>Forget Password</h1>
                </div><!-- Page Title End -->
                
            </div>
        </div>
    </div><!-- Page Banner Section End-->
    
  
    <!-- Checkout Section Start-->
    <div class="cart-section section pt-120 pb-90">
        <div class="container">
            <div class="row">
               <div class="col-lg-3"></div>
                <div class="col-lg-6 col-12 mb-30">
                   
                    <!-- Checkout Accordion Start -->
                    <div id="checkout-accordion" class="panel-group">
                       
                        <!-- Checkout Method -->
                        <div class="panel single-accordion">
                           
                            <!-- <a class="accordion-head" data-toggle="collapse" data-parent="#checkout-accordion" href="#checkout-method">1. checkout method</a> -->
                            
                           
                            <mat-tab-group dynamicHeight>
                                <ng-template [ngIf]="!hidemail">
                                <mat-tab label="Email">
                                    <form action="#" class="checkout-login-form">
                                        <div class="row">
                                            <div class="mb-3 mt-5">
                                            <input type="email" name="email" class="form-control" placeholder="Enter Email-Id" [(ngModel)]="email">
                                        </div>
                                            <button type="button" class="btn btn-success" (click)="ForgetPassword()">Forget Password</button>
                                        </div>
                                    </form>
                                </mat-tab>
                            </ng-template>
                               
                            <ng-template [ngIf]="!hideotp">

                                <mat-tab label=" Validate OTP">
                                    <form action="#" class="checkout-login-form">
                                        <div class="row">
                                        <div class="mb-3 mt-5">
                                        <input type="password" class="form-control" name="otp" placeholder="Enter OTP" [(ngModel)]="otp">
                                        </div>
                                            <button type="button" class="btn btn-success mt-3" (click)="ValidateOtp()">Validate OTP</button>
                                        </div>
                                    </form>
                                </mat-tab>

                            </ng-template>
                            <ng-template [ngIf]="!hidePassword">

                                <mat-tab label="Update Password">
                                    <form action="#" class="checkout-login-form">
                                        <div class="row">
                                        <div class="mb-3 mt-5">
                                        <input type="password" class="form-control" name="password" placeholder="Enter New Password" [(ngModel)]="password">
                                        </div>
                                            <button type="button" class="btn btn-success mt-3" (click)="UpdatePassword()">Update Password</button>
                                        </div>
                                    </form>
                                </mat-tab>
                            </ng-template>
                           
                              </mat-tab-group>
                           

                        </div>
                        
                       
                        
                
                        
                    </div><!-- Checkout Accordion Start -->
                    
                </div>
                <div class="col-lg-3"></div>
                <!-- Order Details -->
             
                
            </div>
        </div>
    </div><!-- Checkout Section End-->
`
       
   
    

</div><!-- Main Wrapper End -->

